In [50]:
import pandas as pd
import matplotlib as pl
import pandas as pd

In [51]:
#load data
data = pd.read_csv("/home/burhan/Downloads/Cleaned_Data.csv")
data.head()

,Unnamed: 0,Address,Price,NoOfBedrooms,NoOfBathrooms,AreaSqYards
0,0,"Bahria Town Karachi, Karachi",4200000.0,1.0,1.0,60
1,1,"Bahria Town - Precinct 17, Bahria Town Karachi",5900000.0,2.0,2.0,161
2,2,"Bahria Paradise, Bahria Town Karachi",42000000.0,5.0,5.0,500
3,3,"Askari 5 - Sector J, Askari 5",37500000.0,3.0,3.0,300
4,4,"Bahria Town - Precinct 35, Bahria Sports City",21000000.0,4.0,4.0,350

In [52]:
#drop address column
data.drop([1])
data.describe()

         Unnamed: 0         Price  NoOfBedrooms  NoOfBathrooms   AreaSqYards
count  16849.000000  1.684900e+04  16849.000000    16849.00000  16849.000000
mean    9628.345480  3.914858e+07      3.599442        3.73856    238.193958
std     5673.676533  3.657066e+07      1.439704        1.46110    137.991019
min        0.000000  7.000000e+05      1.000000        1.00000     33.000000
25%     4670.000000  1.350000e+07      3.000000        3.00000    122.000000
50%     9578.000000  2.600000e+07      3.000000        3.00000    200.000000
75%    14574.000000  5.800000e+07      5.000000        5.00000    311.000000
max    19449.000000  4.000000e+08     11.000000       10.00000    993.000000

In [53]:
data.isnull().sum()

Unnamed: 0       0
Address          0
Price            0
NoOfBedrooms     0
NoOfBathrooms    0
AreaSqYards      0
dtype: int64

In [55]:
x = data.iloc[:,3:]
y = data.iloc[:,1:2]

In [60]:
print(x)
print(y)

       NoOfBedrooms  NoOfBathrooms  AreaSqYards
0               1.0            1.0           60
1               2.0            2.0          161
2               5.0            5.0          500
3               3.0            3.0          300
4               4.0            4.0          350
...             ...            ...          ...
16844           2.0            2.0           67
16845           3.0            4.0          243
16846           2.0            1.0           67
16847           4.0            4.0          240
16848           2.0            2.0          106

[16849 rows x 3 columns]
            Price
0       4200000.0
1       5900000.0
2      42000000.0
3      37500000.0
4      21000000.0
...           ...
16844   4900000.0
16845  67500000.0
16846   4500000.0
16847  25000000.0
16848   8000000.0

[16849 rows x 1 columns]

In [63]:
#train test split (70:30)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.3)

In [65]:
#loading Linear Regression Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [67]:
model.fit(x_train,y_train)

LinearRegression()

In [68]:
predicted_result = model.predict(x_test)

In [69]:
#importing metrics and testing 
from sklearn.metrics import mean_squared_error, r2_score
print("MSE: ",mean_squared_error(y_test,predicted_result))
print("R2: ",r2_score(y_test,predicted_result))

MSE:  432197410696602.1
R2:  0.687370332911537